:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f3f1f1;
  background-color: rgb(37, 47, 70);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
}

.createUserDiv,
.loginDiv {
  display: flex;
  flex-direction: column;
  width: 10%;
}

input {
  margin: 0.3em 0em;
}

nav {
  height: 5em;
  width: 100%;
  background-color: rgb(37, 47, 70);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid orange;
}

nav ul {
  list-style: none;
  padding: 0.5em 1em;
  font-weight: 800;
}

.login-register-links-ul {
  display: flex;
  gap: 1em;
}

.landing-container {
  display: flex;
  flex-direction: column;
}

.home-page-not-loggedin {
  display: flex;
  height: 28em;
}

.home-page-not-loggedin-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(89, 129, 153);
  padding: 4em;
}

.home-page-not-loggedin-text p {
  width: 22em;
  line-height: 23px;
  font-weight: 100;
  padding-top: 1em;
}

.landing-h1 {
  font-weight: 500;
}

.home-page-signup-btn {
  margin-top: 2em;
  width: 20em;
  background-color: rgb(240, 235, 235);
  text-decoration: none;
  color: rgb(56, 89, 109);
  font-weight: 600;
  border-radius: 30px;
  border: none;
  text-align: center;
  padding: 1em;
  transition: ease-in-out 0.4s;
  box-shadow: 5px 10px 18px rgb(37, 47, 70);
}

.home-page-signup-btn:hover {
  background-color: rgb(56, 89, 109);
  color: white;
  scale: 1.025;
  color: #e69412;
}

.home-page-not-loggedin-img {
  background-color: rgb(89, 129, 153);
  padding-right: 5em;
  padding-top: 2.5em;
}

.random-section {
  width: 100%;
  background-color: rgb(219, 223, 224);
  height: 17.5em;
  margin-top: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.random-section-div {
  height: 100%;
  text-align: center;
  display: flex;
}

span {
  color: #e69412;
}

ol {
  display: flex;
  color: rgb(37, 47, 70);
  flex-direction: column;
  gap: 1em;
  text-align: center;
  list-style: none;
  font-weight: 500;
  font-size: 1.05rem;
}

.active {
  color: orange;
  font-weight: 800;
  letter-spacing: 0.7px;
  text-decoration: underline;
}

.inactive {
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
}

.inactive:hover {
  color: #e69412;
}

/* REGISTER-PAGE */

.register-container,
.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 28em;
  border: 1px solid white;
  background-color: #f8f5f5;
  color: rgb(37, 47, 70);
  border-radius: 10px;
  height: 30em;
  margin: 3em;
  align-items: center;
}

.register-form-title,
.login-form-title {
  text-decoration: underline;
  margin: 0.7em 0;
  font-weight: 900;
  font-size: 1.85rem;
}

.register-form,
.login-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: rgb(37, 47, 70);
  margin: 1em;
}

input {
  width: 20em;
  height: 2.5em;
  margin-bottom: 1.4em;
  background-color: rgb(37, 47, 70);
  border: none;
  color: white;
  padding-left: 0.5em;
  outline: none;
}

input:focus {
  border: 3px solid #e69412;
  border-radius: 5px;
}

input::placeholder {
  color: rgb(190, 184, 184);
}

.register-button,
.login-button {
  width: 20em;
  text-align: center;
  height: 3.5em;
  border-radius: 30px;
  background-color: #e69412;
  border: none;
  color: rgb(37, 47, 70);
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 5px 8px rgb(110, 111, 112);
  transition: all 0.5s;
}

.register-button:hover {
  opacity: 0.9;
  scale: 1.02;
}

.user-registered-container {
  height: 100%;
  width: 100%;
  background-color: rgb(37, 47, 70);
  display: flex;
  position: absolute;
  justify-content: center;
}

.user-registered-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  height: 29em;
  border-radius: 10px;
  width: 22em;
  background-color: rgb(59, 73, 63);
  background-color: rgb(230, 225, 225);
}

.user-registered-title {
  text-align: center;
  margin-bottom: 1em;
  color: rgb(7, 73, 51);
  color: rgb(37, 47, 70);
}

.business-woman {
  height: 15em;
  padding: 1em;
  background-color: rgb(37, 47, 70);
  width: 17em;
  border-radius: 50%;
}

.close-span {
  width: 100%;
  display: flex;
  justify-content: end;
  font-size: 1.3rem;
}

.close-span span {
  margin-right: 0.1em;
  margin-top: 0.2em;
  width: 1.5em;
  text-align: center;
  height: 1.5em;
  border-radius: 50%;
  padding: 0.2em;
  color: rgb(77, 73, 73);
  cursor: pointer;
}

.close-span span:hover {
  color: red;
}

.user-registered-div {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  align-items: center;
}

.user-registered-login-btn {
  margin-top: 1.5em;
  text-decoration: none;
  background-color: #f3f1f1;
  color: rgb(7, 73, 51);
  text-align: center;
  font-size: 1.3rem;
  padding: 0.4em;
  width: 60%;
  transition: all 0.5s;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgb(7, 73, 51);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.user-registered-login-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.user-registered-login-btn:after {
  content: "⇨";
  position: absolute;
  font-size: 2rem;
  opacity: 0;
  top: -0.15em;
  right: -20px;
  transition: 0.5s;
  color: white;
}

.user-registered-login-btn:hover {
  background-color: rgb(7, 73, 51);
  color: white;
}

.user-registered-login-btn:hover:after {
  opacity: 1;
  right: 10px;
}

/* LOGIN */

.login-form-container {
  height: 25em;
}

.login-button {
  background-color: rgb(7, 73, 51);
  color: white;
  margin-top: 1.5em;
}

.login-button:hover {
  opacity: 0.8;
}

/* LOGGED IN  */

.logged-in-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.logged-in-content {
  /* border: 1px solid red; */
  height: 40em;
  border-radius: 10px;
  background-color: rgb(248, 245, 245);
  padding: 0.85em 1em;
}

.logged-in-user-greeting {
  font-size: 2.5rem;
  color: rgb(37, 47, 70);
}

.action-divs {
  border-top: 1px solid rgb(56, 89, 109);
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  margin-top: 0em;
}

.show-balance-accordion {
  width: 30em;
  height: 4em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  background-color: rgb(37, 47, 70);
}

.balance-div {
  display: none;
}

.show-balance {
  display: flex;
  background-color: rgb(89, 129, 153);
  background-color: #e69412;
  height: 6em;
  width: 30em;
  text-align: start;
  justify-content: center;
  align-items: center;
  color: black;
  color: rgb(37, 47, 70);
  font-weight: 900;
}

.cash-span {
  color: rgb(37, 47, 70);
  font-size: 1.2rem;
}

.piggybank {
  width: 15em;
  position: absolute;
  bottom: 0em;
  right: 2em;
}
